* {
    padding: 0;
    margin: 0;
    background-color: #000000;
    font-family: sans-serif;
}

body {
    display: grid;
    grid-template-rows: repeat(10, 10vh);
    grid-template-columns: repeat(15, 10vw);
}

.calcbox {
    grid-row-start: 2;
    grid-row-end: 10;
    grid-column-start: 4;
    grid-column-end: 8;
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
    color: white;
    background-color: rgb(25,30,30);
    border: 2px solid white;
    border-radius: 20px;
}

.resultDisplay {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 8;
    font-size: 30px;
    display: flex;
    justify-content: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border: 2px solid #fff;
    background-color: rgb(25,30,30);
}

.ac {
    grid-row-start: 4;
    grid-column-start: 4;
}

.minusOrPlus {
    grid-row-start: 4;
    grid-column-start: 5;
}

.modulo {
    grid-row-start: 4;
    grid-column-start: 6;
}

.divide {
    grid-row-start: 4;
    grid-column-start: 7;
}

.seven {
    grid-row-start: 5;
    grid-column-start: 4;
}

.eight {
    grid-row-start: 5;
    grid-column-start: 5;
}

.nine {
    grid-row-start: 5;
    grid-column-start: 6;
}

.multiply {
    grid-row-start: 5;
    grid-column-start: 7;
}

.four {
    grid-row-start: 6;
    grid-column-start: 4;
}

.five {
    grid-row-start: 6;
    grid-column-start: 5;
}

.six {
    grid-row-start: 6;
    grid-column-start: 6;
}

.minus {
    grid-row-start: 6;
    grid-column-start: 7;
}

.one {
    grid-row-start: 7;
    grid-column-start: 4;
}

.two {
    grid-row-start: 7;
    grid-column-start: 5;
}

.three {
    grid-row-start: 7;
    grid-column-start: 6;
}

.addition {
    grid-row-start: 7;
    grid-column-start: 7;
}

.zero {
    grid-row-start: 8;
    grid-column-start: 4;
    grid-column-end: 6;
}

.zeroClass {
    grid-row-start: 8;
    grid-column-start: 4;
    grid-column-end: 6;
    background-color: #333333;
    align-self: center;

}

.dot {
    grid-row-start: 8;
    grid-column-start: 6;
}

.equals {
    grid-row-start: 8;
    grid-column-start: 7;
}


.ac,
.minusOrPlus,
.modulo,
.divide,
.seven,
.eight,
.nine,
.multiply,
.four,
.five,
.six,
.minus,
.one,
.two,
.three,
.dot,
.zero,
.addition,
.equals {
    display: flex;
    justify-content: center;
    border: 2px solid white;
    margin: 5px;
    background-color: #333333;
}

p {
    align-items: center;
    color: #ffff;
}

p:hover {
    cursor: pointer;
}

.divide,
.multiply,
.minus,
.addition,
.equals {
    background-color: #fe9f0a;
}

.minusOrPlus,
.ac,
.modulo {
    color: #000000;
    background-color: #a5a5a5;
}

.inputBox {
    grid-row-start: 9;
    grid-column-start: 4;
    grid-column-end: 8;
    background-color: rgb(25,30,30);
    border: 2px solid white;
    border-radius: 3px;
    color: white;
    padding: 2px;
    align-self: center;
    width: 90%;
    justify-self: center;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
    outline: none;
    height: 70%;
    font-size: 15px;
}
.inputBox::placeholder {
    opacity: 1;
    color: #ffff;
}
